:root{
    --cor-de-fundo: #e70303;
    --verde: #5fff5f;
    --branco: #FFFFFF;
    --botao-ativo: #440a0a;
    --botao-inativo: rgba(247, 126, 126, 0.5);
    --texto-fundo: rgb(255, 255, 255);
}

*{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}

span{
    color: var(--verde);
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 1em;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.botao{
    background-color: var(--botao-inativo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    padding: 1em;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
}
.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 20px 20px 0 0;
}

.botao:last-child{
    border-radius: 0 0 20px 20px;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 2px solid var(--verde);
}

@media screen and (min-width:700px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 20px 0 0 20px;
    }
    .botao:last-child{
        border-radius: 0 20px 20px 0;
    }
}