:root{
    --cor-de-fundo: #1e1e1e;
    --verde: #5fff5f;
    --branco: #FFFFFF;
    --botao-ativo: #3a373a;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}

*{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 1em;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.botoes{
    display: block;
}

.botao{
    background-color: var(--botao-inativo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 10px;
    padding: 1em;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
}

.botao:first-child{
    border-radius: 20px 20px 0 0;
}

.botao:last-child{
    border-radius: 0 0 20px 20px;
}